.o-info-container{
    width: 100vw;
    background-color: blue;
}

.o-img-profile{

   height: 10rem;

}

.o-big-container{

    margin: 2em 5rem 1rem 0;
    background-color: red;
    padding: 1rem;
    border: 1rem solid black;

}


.o-big-container .o-blue{

    background-color: bisque;
    
}

.o-project{
    
    background-color: white;
    padding: 1rem;
    margin: 1rem;
}

#SubConteiner2{
    
    background-color: blue;

}