.o-info-container{

    background-color: #D4CFCF ;
    padding: 3em 5em;

}

.o-dateStudent-container{

    /*background-color: indianred;*/
    width: 50em ;
    margin: -13em 15em 1em;

}


.o-img-profile{

    width: 13em;
    
}

.o-info-projects {

    /*background-color: cyan;*/
    padding: 1em 3em;
    margin: 2em 15em;
   
}

.o-project{

    background-color: #D4CFCF;
    padding: 0.5em 2em;
    margin: 1em;
    border-radius: 0.5em;

}

.o-img-projects{

    width: 29em;

}

h1, h2, h3, p{

    font-family: Helvetica;

}

h2{
  
    font-size: 1.4em;

}

h3{

    font-size: 1.2em;

}
